<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Events</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="1">
        <tr>
            <th>Name</th>
            <th>Theme</th>
        </tr>
        <tr th:each="ev : ${allEvents}">
            <td th:utext="${ev.intitule}">..</td>
            <td th:utext="${ev.theme}">..</td>
            <td><form th:action="@{delete/__${ev.id}__}">
                <button>Supprimer</button>
             </form></td>
            <td><form th:action="@{updateForm/__${ev.id}__}">
                <button>Modifier</button>
             </form></td>
        </tr>
 
    </table>
    </body>
</html>
